@font-face {
  font-family: inconsolata;
  src: url(inconsolata/Inconsolata-Regular.ttf);
}

@font-face {
  font-family: inconsolataBold;
  src: url(inconsolata/Inconsolata-Bold.ttf);
}

.consoleFont {
  font-family: inconsolata;
}

.consoleFontBold {
  font-family: inconsolataBold;
}

.wrapper {
  margin-top: 70px;
}

.flexCenter {
  display: flex;
  justify-content: center;
}

.firstEdit {
  display: inline-block;
  width: auto;
}

.filterByName {
  display: inline-block;
  width: auto;
}

.filterContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.fileAmountDiv {
  width: 60px;
  display: inline-block;
  text-align: right;
}

.fileNameDiv {
  display: inline-block;
  margin-left: 10px;
}

.fileCommitDiv {
  display: inline-block;
  width: 60px;
  text-align: center;
}

.mr10 {
  margin-right: 10px;
}

.borderChanges {
  padding-right: 10px;
  text-align: right;
}

.fileAuthorDiv {
  width: 150px;
}

.tdDate {
  width: 100px;
}

.font12 {
  font-size: 12px;
}

.commitChangesAddedInDialog {
  color: green;
  width: 40px;
  display: inline-block;
}

.commitChangesRemovedInDialog {
  color: red;
  margin-left: 8px;
}

.wideCommitChangesRemovedInDialog {
  width: 40px;
  display: inline-block;
}


html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.event {
  color: green;
}

.eventLine {
  font-size: 10px;
  text-align: left;
  margin-bottom: 3px;
}

.zabuto-calendar.table td {
  vertical-align: top;
}

.authorLabel{
  color: white; 
  margin-right:10px; 
  padding:3px; 
  font-family: inconsolataBold;
}

.divSearchInput {
  display: inline-block;
  width: 63%;
  margin-right: 10px;
}



.mr10 {
  margin-right: 10px;
}

.mr18 {
  margin-right: 18px;
}

.ml3 {
  margin-left: 3px;
}

.w160 {
  width: 160px;
}

.w160pc {
  width: 96%;
}

.w5em {
  width: 5em;
}

.mt10 {
  margin-top: 10px;
}

.mb5 {
  margin-bottom: 5px;
}

.searchActionDiv {
  border-top: 1px solid gray;
  padding-top: 4px;
  margin-top: 10px;
}

.fr {
  float: right;
}

.searchWrapper {
  /* display: inline-block; */
  /* width: 64%; */
}

.roundIconBtn {
  height: 25px;
  padding: 0px;
  width: 60px;
}

.searchInputText {
  display: inline;
  height: 30px;
}

.dispInBlock {
  display: inline-block;
}

/* type ahead  */

* {
  box-sizing: border-box;
}

body {
  font: 16px Arial;  
}

.w45pc {
  width: 45%;
}

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}